---
layout: default
---

<div class="landing">
  <div class=" mainHeader___F5Byq">
    <blockquote class="top">
      Hi :wave:  this is <em>Kautilya Tripathi</em>. {{site.description}}
    </blockquote>
  </div>
  <div class="back">

  </div>
</div>

<div class="explore" id="project">
  <div class="container-">
    <h2 class="text-center" style="font-size: 3em;">Explore</h2>
    <p class="text-center col-md-7 col-sm-10 mx-auto" style="font-size:1.4em;">
      Check out these apps made by me that can help developers in great way. They're all open source and free to use on any project.
    </p>
    <div class="d-md-flex flex-wrap gutter flex-auto">
      {% assign apps = site.apps %}
        {% for app in apps limit:4 %}
          {% include app.html app=app %}
        {% endfor %}
    </div>
    <br>
  </div>
</div>
