
.hidden-md{
  display: none;
}
hidden-lg{
  display: none;
}
.image{
background-image:url(IMG_2266.JPG);
min-height: 768px;
z-index:1;
background-size:cover;
background-position:center;
 filter: grayscale(80%);

}
.parallax{
            background-attachment: fixed;
}
.progress {
  height: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius:0px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.d{

text-align:center;
}

#d{
background-color:black;
opacity:0.6;
color:white;
min-height:200px;
padding:70px;
font-size:24px;

}

.image2{
background-image:url(para6.jpeg);
min-height:480px;
background-size:cover;
filter:grayscale(90%);
background-position:center;
}


.image3{
background-image:url(landing-stage-sea-sky-night.jpeg);
min-height:480px;
background-size:cover;
filter:grayscale(90%);
background-position:center;

}

.image4{
background-image:url(para15.jpg);
min-height:480px;
background-size:cover;
filter:grayscale(90%);
background-position:center;

}

.myclass{
  display: none;
}
.overflowbody{
  overflow-x: hidden;
}
