---
layout: default
---

<div class="landing">
  <div class=" mainHeader___F5Byq">
    <blockquote class="top">
      Hi :wave:  this is <em>Kautilya Tripathi</em>. {{site.description}}
    </blockquote>
  </div>
  <div class="back">

  </div>
</div>

<div class="explore" id="project">
  <div class="container-">
    <h2 class="text-center" style="font-size: 3em;">Explore</h2>
    <p class="text-center col-md-7 col-sm-10 mx-auto" style="font-size:1.4em;">
      Check out these apps made by me that can help developers in great way. They're all open source and free to use on any project.
    </p>
    <div class="d-md-flex flex-wrap gutter flex-auto ">
      {% assign apps = site.apps %}
        {% for app in apps limit:6 %}
          {% include app.html app=app %}
        {% endfor %}
    </div>
    <br>
    <div class="text-center">
    <a href="/projects/">
      <button class="btn btn-outline btn-large waves-effect waves-light ">
        {% octicon telescope class:"mr-2" %}
        Explore all projects
      </button>
    </a>
  </div>
  </div>
</div>

<div class="skills" id="skills">
  <h1 style="text-align: center;">Programming Skills</h1>
  <span style="text-align: center;">
    <h1>
      <i class="material-icons" style="font-size:30px;">developer_board</i>
      <i class="material-icons" style="font-size:30px;">devices</i>
      <i class="material-icons" style="font-size:30px;">developer_mode</i>
    </h1>
  </span>

  <div class="container" >
    <div class="row">
      <div class="col">
        <h1 style="text-align: center;">Backend</h1>

          <input type="radio" class="radio" name="group1" value="seventyfive" id="seventyfive" checked>
          <label for="seventyfive" class="label" style="color:white;font-size:2em">Nodejs</label>

          <input type="radio" class="radio" name="group1" value="fifty" id="fifty">
          <label for="fifty" class="label" style="color:white;font-size:2em">PHP</label>

          <input type="radio" class="radio" name="group1" value="five" id="five">
          <label for="five" class="label" style="color:white;font-size:2em">Go</label>

        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 style="text-align: center;">Frontend</h1>

          <input type="radio" class="radio" name="group2" value="onehundred" id="onehundred" checked>
          <label for="onehundred" class="label" style="color:white;font-size:2em">Javascript</label>

          <input type="radio" class="radio" name="group2" value="seventyfive" id="seventyseven">
          <label for="seventyseven" class="label" style="color:white;font-size:2em">HTML</label>

          <input type="radio" class="radio" name="group2" value="seventysix" id="seventysix">
          <label for="seventysix" class="label" style="color:white;font-size:2em">CSS</label>

          <input type="radio" class="radio" name="group2" value="seventy4" id="seventy4">
          <label for="seventy4" class="label" style="color:white;font-size:2em">Jekyll</label>

        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 style="text-align: center;">Frameworks & Plugins</h1>

          <input type="radio" class="radio" name="group3" value="fifty" id="fifty1" checked>
          <label for="fifty1" class="label" style="color:white;font-size:2em">Ionic</label>

          <input type="radio" class="radio" name="group3" value="seventy3" id="seventy3">
          <label for="seventy3" class="label" style="color:white;font-size:2em">Jquery</label>

          <input type="radio" class="radio" name="group3" value="seventy2" id="seventy2">
          <label for="seventy2" class="label" style="color:white;font-size:2em">Angular</label>

          <input type="radio" class="radio" name="group3" value="twentyfive" id="twentyfive">
          <label for="twentyfive" class="label" style="color:white;font-size:2em">ReactJs</label>

        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 style="text-align: center;">Database</h1>

          <input type="radio" class="radio" name="group4" value="eighty5" id="eighty5" checked>
          <label for="eighty5" class="label" style="color:white;font-size:2em">MongoDB</label>

          <input type="radio" class="radio" name="group4" value="fifty2" id="fifty2">
          <label for="fifty2" class="label" style="color:white;font-size:2em">MySql</label>

        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="education">
  <span class="text-center">
    <h1>
      <i class="material-icons" style="font-size:30px;">book</i>
      <i class="material-icons" style="font-size:30px;">assignment</i>
      <i class="material-icons" style="font-size:30px;">developer_mode</i>
    </h1>
  </span>
  <h1 class="text-center">Academic Education</h1>
  <div class="container">
    <div class="d-md-flex flex-wrap gutter flex-auto">
        {% for app in site.education limit:3 %}
          {% include education.html app=app %}
        {% endfor %}
    </div>
  </div><br>

  <h1 class="text-center">Online Education</h1>
  <div class="container">
    <div class="d-md-flex flex-wrap gutter flex-auto">
        {% for app in site.online limit:4 %}
          {% include onlineEducation.html app=app %}
        {% endfor %}
    </div>
  </div>
</div>

<div class="contact" id="contact">
  <h1 class="text-center">Contact</h1>
  <span class="text-center">
    <h1>
      <i class="material-icons" style="font-size:30px;">phone_iphone</i>
      <i class="material-icons" style="font-size:30px;">perm_contact_calendar</i>
      <i class="material-icons" style="font-size:30px;">phone_iphone</i>
    </h1>
  </span>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-xs-8 offset-md-2">
          <form class="col s12" method="POST" action="https://formcarry.com/s/Hk8firWxQ" accept-charset="UTF-8" style="padding: 20px;background:transparent;">
            <h2 class="text-center">Get in Touch</h2>
            <br>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input id="name" type="text" class="validate" name="name" required aria-required="true" placeholder="Example:- Messi | Ronaldo" style="color: white;">
                <label for="name" style="color:red;">Your Name <span style="color:;">*</span></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" name="email" class="validate" placeholder="Example:- messi@ronaldo.com" required aria-required=”true” pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" style="color: white;">
                <label for="email" style="color:red;">Your Email <span style="color:red;">*</span></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="textarea1" class="validate materialize-textarea" name="message" style="width:auto;color: white;" placeholder="Enter your message" required aria-required=”true” ></textarea>
                <label for="textarea1" style="color:red;">Your Message <span style="color:red;">*</span></label>
              </div>
            </div>
            <button class="btn waves-effect waves-light cyan" type="submit">Send
            </button>
          </form>
      </div>
    </div>
  </div>

</div>
