<style type="text/css">
  .freecodecamp:hover{
    background-color:  white!important;
    color: green;
  }
  .freecodecamp {
    width: 50px;
    height: 50px;
  }
  .freecodecamp-button {
    top:5px;
    position: relative;
  }
</style>

<div class="col-xs-12 col-md-6 col-lg-6">
  <div class="card brown lighten-5  z-depth-5 hoverable" style="overflow: visible;">
    <div class="card-image waves-effect waves-block waves-light">
      <a href="{{app.url_certificate}}" target="_blank"><img class="img-fluid" src="{{app.logo}}" style="height:auto;"></a>
    </div>
    <div class="card-content">
      <span class="card-title cyan-text text-darken-4">{{app.title}}<a class="btn-floating pulse right blue"><i class="material-icons activator">more_vert</i></a></span>
    </div>
    <div class="card-reveal" style="display: none; transform: translateY(0%);">
      <span class="card-title grey-text text-darken-4 text-center" style="font-weight:bold;">{{app.purpose}}<a class="btn-floating pulse right red"><i class="material-icons">close</i></a></span>
      <br><blockquote class="text-center card-panel">{{app.description | markdownify }}</blockquote>
      <div class="row text-center">
        <div class="col-xs-12 col-md-12">
          <a  href="{{site.freecodecamp_url}}" style="background-color:#006400;"target="_blank" class="btn-floating btn-md waves-effect waves-light freecodecamp"><span class="material-icons text-center freecodecamp-button">(whatshot)</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
